// ********************************
// Parameters configuration

def sv_callers=['caveman', 'strelka', 'strelkasnv']
sv_callers.each { suffix ->
    params."signatureFit_params_$suffix" = "-b -m FitMS -p 5 -a errorReduction -q T2 -T T2 -E 20 -f 200 -r 1"
}

params {
    
    inputlist = false
    outdir = 'results'
    organ = "Breast"
    genome_version = "hg38" // hg19 or hg38
    prepareData_params= "--cavemanpass --cavemanclpm 0 --cavemanasmd 140 --pindelpass --pindelqual 250 --pindelrep 9 --mantapass --mantapr 8 --strelkapass --strelkasomevs 16"
    signatureFit_params_brass = signatureFit_params_manta = "-b -m Fit -p 5 -P 5 -q T2 -f 200 -r 1"
    solutionSelectionForFitMS = null
    hrDetect_params = "-b -r 1 -g"

    //process configurations
    cpus = 6
    memory = '4 GB'
    executor = 'local' //'slurm'
    queue = '$SLURM_PARTITION'
    project = '$SLURM_ACCOUNT'
}

// ********************************
// Process configuration
process {

    cpus          = params.cpus
    memory        = params.memory
    executor      = params.executor
    queue         = params.queue
    project       = params.project
    clusterOptions = {"-A ${params.project}"}

    withLabel: awscli_bcftools {
        memory    = '2.GB'
        cpus      = 1
        container = 'quay.io/lifebitaiorg/awscli_bcftools_comb:v0.1'
    }

    withLabel: utility_scripts {
        disk      = '30.GB'
        cpus      = 1
        memory    = params.memory
        container = 'quay.io/nikzainalgroup/utility.scripts:latest'
    }

    withLabel: signature_tools_lib {
        disk      = '30.GB'
        cpus      = params.cpus
        memory    = params.memory
        container = 'quay.io/nikzainalgroup/signature.tools.lib:2.4.5'
    }
}

// ********************************
// Docker configuration
singularity {
    enabled = true
}

// ********************************
// Executor configuration
executor {
    name = params.executor
}
